include LICENSE README.rst bootstrap-buildout.py buildout.cfg develop.cfg requirements.txt version.txt
recursive-include doc *.py *.rst
recursive-include bob/learn/boosting *.h *.cpp
recursive-include bob/learn/boosting/data *.hdf5 *.tar.bz2
